body{
    overflow-x: hidden;
    background-color: #f2f2f2;
}

nav a {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: transparent;
    z-index: 999;
    padding: 1px 10px;
    cursor: pointer;
}

nav a:hover {
    background-color: #a2b3bd;
    border-radius: 6px;
}

nav {
    background-color: rgb(2, 156, 245);
    padding: 1%;
    font-style:initial;
    font-size: 110%;
    text-align:center;
    
  
    
}


h2 {
    position:absolute;
    top: 7%;
    left:42%;
    align-items: center;
}

.center-img {
    max-width: 80%;
    margin-left: 24%;
    margin-top:5%;
    
}


