body{
    overflow-x: hidden;
    background-color: #f2f2f2;
}

nav a {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: transparent;
    z-index: 999;
    padding: 1px 10px;
    cursor: pointer;
}

nav a:hover {
    background-color: #a2b3bd;
    border-radius: 6px;
}

nav {
    background-color: rgb(2, 156, 245);
    padding: 1%;
    font-style:initial;
    font-size: 110%;
    text-align:center;
    
  
    
}

.corner-text {
    position: relative;
    bottom:88px;
    left: 1.5%;
    font-size: 200%;
    font-style: italic;
    color: #e8ece7;
}

h2 {
    position:absolute;
    top: 7%;
    left:42%;
    text-align: center;
}

form {
    position: absolute;
    text-align: center;
    font-size: 100%;
    margin-top: -37px;
    margin-left: 38%;
}

button:hover {
    background-color: rgb(127, 182, 197);
}


table {
    width: 800px;
    margin: 0px auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #90afce;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a.release {
    background-color: #00d9ff;
    font-size: 80%;
    padding: 6% 8%;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

a.release:hover {
    background-color: #90afce;
    color: white;
}

button.parked-out {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 80%;
}


.scrollable-table {
    position: relative;
    margin-left: 25%;
    max-height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid #ccc;
    width: 800px;
    
}
.scrollable-table:hover{
    overflow-y: auto;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    
}

.table-container th,
.table-container td {
    border: 1px solid #ccc;
    padding: 8px;
}


hr {
    margin: 50px 0;
}

a.book{
    background-color: #4df300;
    font-size: 80%;
    padding: 6% 8%;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a.book:hover{
    background-color: #369708;
}
