body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f6f8;
    font-family: 'Segoe UI'
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}


label {
    color: #333;
    font-size: 15px;
    margin-bottom: 6px;
    display: block;
    font-weight: 500;
}

input {
    padding: 12px 14px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #4caf50;
    outline: none;
}

button {
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #388e3c;
}
