<!DOCTYPE html>
<html>
    <head>
        <title>home page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='add_card.css') }}">
    </head>
    <body>
        <nav>
            <a href="">Home</a> |
            <a href="">Summary</a> |
            <a href="">Logout</a> |
        </nav>
        
        <h1>New Parking Lot</h1>
        <div class="form-container">
        <form method="POST">
            <label>Prime Location Name:</label>
            <input type="text" name="location" required>
            <label>Pin code:</label>
            <input type="number" name="pincode" required>
            <label>Price(per hour):</label>
            <input type="number" name="price" required>
            <label>Maximum spots:</label>
            <input type="number" name="spots" required>
            <button type="submit">+ Add</button>    
        </form>
        </div>
        <div class="cancel">
            <form method="GET" action="{{url_for('user_home',name='Administrator')}}">
                <button type="submit" class="cancel">Cancel</button>
            </form>
        </div>
    </body>
</html>